/* CSS code */
body {
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
    margin: 0;
    padding: 0;
    background-color: #f2eff0;
   }

.desktop-header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.desktop-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-header nav ul li {
  margin-right: 1rem;
}

.desktop-header nav ul li:last-child {
  margin-right: 0;
}

.desktop-header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.mobile-header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: none;
}

.mobile-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header .hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}
.Logo {
  width: 100%; /* Make the container full width */
  height: 100%; /* Make the container full height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px; /* add some margin below the heading */
}

.An_Logo video {
  width: 100%; /* Make the video full width */
  height: 100%; /* Make the video full height */
  object-fit: cover; /* Make the video cover the entire container */
}

.Hero {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Hero h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0vh;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .arrow {
    width: 100%;
    height: 100%;
    margin-top: -10px;
    transform: scale(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveArrow 2s infinite;
  }
  
  @keyframes moveArrow {
    0% {
      transform: translateY(0) scale(0.5);
    }
    50% {
      transform: translateY(-20px) scale(0.5);
    }
    100% {
      transform: translateY(0) scale(0.5);
    }
  }

  .Content {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content h1 {
    margin-left: 10%;
    margin-right: 10vw;
    margin-top: 0px;
    font-size: 50px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content1 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content1 h1 {
    margin-left: 10%;
    margin-right: 10vw;
    margin-top: -30px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

.Wed_Vid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: -100px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Vid1 {
    flex: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Prewed Images */

.Content2 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content2 h1 {
    margin-left: 10%;
    margin-right: 10vw;
    margin-top: -80px;
    font-size: 41px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content3 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content3 h1 {
    margin-left: 10%;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .image {
    width: 320px; /* adjust the width as needed */
    height: 630px; /* adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;
border-radius: 8px;
box-shadow: #333;
}

.Content4 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content4 h1 {
    margin-top: 30px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 37px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content5 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content5 h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

.Decors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Wed_Decors {
    flex: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.Content6 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content6 h1 {
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 37px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content7 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content7 h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

.STD {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Save {
    flex: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/*cOMMERCIAL*/
.Content8 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content8 h1 {
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 45px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content9 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content9 h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

.com {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.come {
    flex: 1;
}
.image1 {
    width: 45%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 27.5vw;
    margin-right: 0px;
    margin-top: -80PX;
    margin-bottom: -80px;
    border-radius: 8px;
box-shadow: #333;
transform: rotate(270deg);
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/*Political*/
.Content10 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content10 h1 {
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 35px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content11 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content11 h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: -200px; /* add some margin below the heading */
  }

.Pol{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.rally {
    flex: 1;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/*City Doc*/
.Content12 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content12 h1 {
    margin-top: -80px;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 30px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 20px; /* add some margin below the heading */
  }

  .Content13 {
    text-align: center; /* center align the hero text */
    font-family: 'SF Pro', sans-serif; /* use SF Pro font */
  }
  
  .Content13 h1 {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -28px;
    font-size: 26px; /* set font size to 36px */
    color: #333; /* set text color to dark gray */
    margin-bottom: 0px; /* add some margin below the heading */
  }

.Cit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* or a fixed height */
    margin-top: 130px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.Doc {
    flex: 1;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: -10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ec1fb;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
    font-size: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
